*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.resume-button{
    background-color: rgb(47, 89, 126);
    border-radius: 10px;
}
.projects h1{
    color: rgb(47, 89, 126)
}
.portfolio{
    margin-right: 40% ;
}
 .navbar ul li a {
     display: inline-block; 
     margin-right: 15px;
 }

.projects p{
    text-align: justify;
}
