/* Default Css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Resume Button */
.resume-button{
    background-color: rgb(47, 89, 126);
    border-radius: 10px;
    transition: 0.4s;
}
.resume-button:hover{
    background-color: #fff;
    color: #000 !important;
}
/* Projects */
 .projects h1{
    color: #081158;
    font-weight: bold;
}
.projects p{
    text-align: justify;
} */
/* Portfolio */

/* Navbar */
 .navbar ul li a {
     display: inline-block; 
 }
 /*  Contact */
 .contact-title{
    color: #081158;
    font-weight: bold;
 }
 .contact-radius{
     border-radius: 12px;
 }
 /* Details */ 
.details{
display: flex; 
align-items: center;}
.details p{
    text-align: justify;
}
.details h3{
    color: #081158;
    font-weight:bold;

}
.projects-design{
    border: 1px solid #ddd; 
    padding: 10px;
    border-radius: 6px;
}
.projects-design a{
    text-decoration: none;
    background-color: #081158;
    color: #fbb244;
    padding: 5px 20px;
    font-size: 14px;
    display: inline-block;
    margin-top: 5px;
}
.projects-design p{
    font-size: 14px;
}
.about h2{
    color: #081158;
    font-weight: bold;
}
.about p{
    line-height: 1.7em;
}
.about h5{
    margin: 15px;
}
.btn-submit button{
    background-color: rgb(47, 89, 126); 
    color: #fff;
    transition: 0.4s;
}
.btn-submit button:hover{
    background-color: green; 
    color: #fff;
}
.nazmul-text{
    margin-right: 25%;
}
.explore-1{
    border: 1px solid #000;
    padding: 12px;
    border-radius: 6px;
    height: 100%;
}
.explore-design{
    text-decoration: none;
    display: inline-block;
    background-color: #081158; 
    color: #fbb244;
    padding: 5px 15px;
    border-radius: 6px;
    transition: 0.4s;
}
.projects-design img{
    transition: 0.4s;
    border-radius: 6px;
}
.projects-design img:hover{
    transform: scale(1.1);
}
.explore-1 img{
    border-radius: 6px;
    transition: 0.4s;
}
.explore-1 img:hover{
    transform: scale(1.1);

    
}
.explore-design:hover{
    background-color: turquoise;
    color: #000;
}
.view{
    transition: 0.2s;
}
.view:hover{
    background-color: rgb(47, 89, 126);
    color: #fff;
}
.explore-btn{
    transition: 0.2s;
}
.explore-btn:hover{
    background-color: royalblue;
    color: #fff;
 }