/* Default Css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Resume Button */
.resume-button{
    background-color: rgb(47, 89, 126);
    border-radius: 10px;
    transition: 0.4s;
}
.resume-button:hover{
    background-color: #fff;
    color: #000 !important;
}
/* Projects */
 .projects h1{
    color: #081158;
    font-weight: bold;
}
.projects p{
    text-align: justify;
} */
/* Portfolio */
.portfolio{
    margin-right: 40% ;
}
/* Navbar */
 .navbar ul li a {
     display: inline-block; 
     margin-right: 15px;
 }
 /*  Contact */
 .contact-title{
    color: #081158;
    font-weight: bold;
 }
 .contact-radius{
     border-radius: 12px;
 }
 /* Details */ 
.details{
display: flex; 
align-items: center;}
.details p{
    text-align: justify;
}
.details h3{
    color: #081158;
    font-weight:bold;

}
.projects-design{
    border: 1px solid #ddd; 
    padding: 10px;
    border-radius: 6px;
}
.projects-design a{
    text-decoration: none;
    background-color: #081158;
    color: #fbb244;
    padding: 5px 20px;
    font-size: 14px;
    display: inline-block;
    margin-top: 5px;
}
.projects-design p{
    font-size: 14px;
}
.about h2{
    color: #081158;
    font-weight: bold;
}
.about p{
    line-height: 1.7em;
}
.about h5{
    margin: 15px;
}