/* Default Css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Resume Button */
.resume-button{
    background-color: rgb(47, 89, 126);
    border-radius: 10px;
}
/* Projects */
.projects h1{
    color: rgb(47, 89, 126)
}
.projects p{
    text-align: justify;
}
/* Portfolio */
.portfolio{
    margin-right: 40% ;
}
/* Navbar */
 .navbar ul li a {
     display: inline-block; 
     margin-right: 15px;
 }
 /*  Contact */
 .contact-title{
     color: rgb(47, 89, 126);
 }